body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: red;
    /* background-color: rgba(245, 245, 245, 1); */
}

.container{
    background-color: rgba(245, 245, 245, 1);
    width: 550px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* -------------------------------------------------------------------------------- */

.header{
    width: 550px;
    height: 80px;
    padding: 25px;
    
    background-color: white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: fixed;
    top: 0;
    left: 1;
    right: 1;
}

.header .uol_icon{
    width: 75px;
    height: 53px;
}

.header .person_icon{
    width: 42.19px;
    height: 30.94px;
}

/* ------------------------------------------------------------------------------- */

.box_output{
    margin-top: 80px;
    margin-bottom: 62.5px;
    height: min-content;
    /* height: 1000px; */
    padding-top: 20px;

    background-color: rgba(245, 245, 245, 1);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}
.card{
    /* min-height: 40px; */
    height: min-content;
    padding: 10px;
    border-radius: 2px;
    line-height:20px;
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    word-break: break-all;

}

.message{
    background-color: white;
}

.private_message{
    background-color: #FFDEDE;
}

.status{
    background-color: #DCDCDC;
}

.time_card{
    color: #AAAAAA;
    font-weight: 400;
    font-size: 14px;
}

.tittle_card{
    font-weight: 400;
    font-size: 14px;
}
.text_card{
    font-weight: 400;
    font-size: 14px;
}

.menu{
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    height: 100vh;
    width: 70%;
    background-color: white;
    transform: translateX(100%);  

    transition: all 0.8s ease;
    overflow-y: scroll;
}


.box_item{
    display: flex;
    justify-content: space-between;

    padding: 5px;
    margin: 5px;

    background-color: blue;
}

.item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.box_checked_simbol{
    display: flex;
    justify-content: center;
    align-items: center;

}

.checked_simbol{
    height: 12px;
    width: 12px;

    opacity: 0;
}


.menu h2{
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;

    padding: 20px;
}

.menu .box_user{
    padding: 10px;
}
.menu .box_visibility{
    padding: 10px;
}

.menu p{
    font-size: 16px;
    font-weight: 400;
}

.box_item .person_icon{
    width: 23.44px;
    height: 17.19px;
}

.box_item .user_icon{
    width: 20.31px;
    height: 20.31px;
}

.box_item .padlock_icon{
    width: 15.13px;
    height: 20.63px;
}

.dark_background{
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 1.2s ease;
}

/* ------------------------------------------------------------------------------- */

.box_input{
    width: 550px;
    height: 80px;
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 1;
    right: 1;
}

.div_input_message{
    height: 80px;
    width: 100%;
}

.input_message{
    height: 80px;
    width: 100%;

    font-style: italic;
    font-size: 18px;
    line-height: 21.09px;
    font-weight: 400;
    padding-left: 10px;
}

.div_arrow_icon{
    height: 75px;

    padding: 20px;

    /* border: 1px solid black; */
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow_icon{
    width: 26px;
    height: 26px;
}

.div_arrow_icon:hover{
    background-color: white;
    box-shadow: inset 0px 0px 2px 2px rgba(100, 100, 100, 0.5);
    border-radius:  50%;
}